body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
<<<<<<< HEAD
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
=======
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
>>>>>>> 90c04619523348641e276e265f3e43a7d4590622
}
